.login__grid {
  display: grid;
  justify-content: center;
  align-items: center;
}
.login__container {
  max-width: 90%;
  padding: 20px;
}
.login__card {
  width: 400px;
}
@media (max-width: 400px) {
  .login__card {
    width: auto;
    max-width: 400px;
  }
}
